name: meta-c CI

on:
  status:
    branches: [ $default-branch, main ]
  push:
    branches: [ $default-branch, main ]
  pull_request:
    branches: [ $default-branch, main ]
  workflow_dispatch:

jobs:
  build_linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Gen code and Run tests
      run: ./gen_code.sh && ./run_tests.sh

    - name: Build REPL
      run:  cd repl && ./build.sh 

  build_windows:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1

    - name: Gen code and Run tests
      run: ./gen_code.bat && ./run_tests.bat
